// modern-css-reset
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img,
picture {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// main
body {
  height: 100%;
  width: 100%;
  color: #3b4043;
  background-color: #51b392;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #3b4043;
}
// placeholderのfontを統一
::-webkit-input-placeholder {
  font-family: "Verdana", sans-serif;
}
:-moz-placeholder {
  font-family: "Verdana", sans-serif;
}

// font
.font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.font-lg {
  font-size: 3rem;
}
.font-md {
  font-size: 2rem;
}
.font-sm {
  font-size: 1rem;
}
.error {
  color: #ff3f80;
}
.underline {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

// ツールチップ
.tooltip {
  &:hover {
    .balloon {
      visibility: visible;
      opacity: 1;
    }
    .balloon-right {
      left: 150%;
    }
    .balloon-top {
      bottom: 30%;
    }
  }
  .balloon {
    position: absolute;
    transform: translateY(-50%);
    padding: 8px;
    border-radius: 15px;
    background-color: #888;
    font-size: 0.8em;
    white-space: pre-line;
    color: #fff;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    z-index: 30;
    transition: 0.3s all;
  }
  .balloon-right {
    width: 130px;
    top: 50%;
    left: 80%;
    margin-left: 8px;
    &::before {
      content: "";
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-right: 15px solid #888;
      position: absolute;
      top: 50%;
      right: 96%;
      transform: translateY(-50%);
    }
  }
  .balloon-top {
    width: 80px;
    bottom: 80%;
    right: -25%;
    margin-bottom: 8px;
    &::before {
      content: "";
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top: 13px solid #888;
      position: absolute;
      top: 120%;
      right: 10%;
      transform: translateY(-50%);
    }
  }
}
